*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: #005BBB;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: relative;
  padding: 80px 0 0;
}
.icon {
  height: 60px;
  text-align: center;
  margin: 0 0 80px;
}
.btn-burger,
.btn-close {
  display: none;
  border: 0;
  background: none;
  padding: 0;
}
.nav-list {
  text-align: center;
  margin: 0 0 80px;
}
.link {
  color: #005BBB;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin: 0 40px;
}
.link:hover {
  font-size: 140%;
  opacity: 0.33;
}
.welcome {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
  font-size: 28px;
  line-height: 39px;
  padding-bottom: 80px;
}
.welcome p {
  margin: 0 0 16px;
}
.main-caption {
  font-size: 40px;
  text-align: center;
  line-height: 49px;
  font-weight: 900;
  max-width: 1024px;
  margin: 0 auto 40px;
  border-top: 1px solid #005BBB;
  padding: 16px 0;
  position: relative;
}
.main-caption:after {
  content: "";
  max-width: 500px;
  height: 1px;
  background: #005BBB;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -250px;
}
.card-cover {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 80px;

}
.card {
  background: #005BBB;
  flex: 0 0 500px;
  border-left: 10px solid #FFD500;
  display: flex;
  align-items: center;
  padding: 40px;
}
.card p {
  margin: 5px 0 0;

}

.card-text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 140%;
}
.card-year {
  font-size: 48px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  border: 1px solid #005BBB;
  padding: 30px;
  margin: auto;
  margin-bottom: 80px;
}

.form-input {
  outline: none;
  border: 0;
  text-align: left;
  padding: 49px auto;
  font-family: 'Montserrat', sans-serif;
  color: #005BBB;
  font-size: 18px;
  line height: 22px;
  opacity: none;
}
::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #005BBB;
  opacity: 50%;
}

.form-button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 0;
  background: #005BBB;
  color: #ffffff;
  font-size: 28px;
  line-heigt: 35px;
  letter-spacing: 6%;
  padding: 13px 56px;
}
.form-button:hover {
  background: none;
  color: #005BBB;
  opacity: 50%;
}

.gallery {
  max-width: 1352px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.slick-slide {
  position: relative;
  border: solid #ffffff;
  border-width: 0 20px;
}
.slick-slide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 91, 187, 0.2), rgba(0, 91, 187, 0.2));
  border-left-width: 10px;
  border-left-style: solid;
  border-image: linear-gradient( to bottom, #005BBB 50%, #FFD500 50%) 1 1;
  border-image: linear-gradient( to bottom, #005BBB 50%, #FFD500 50%) 1 1;
}
.slick-slide img {
  width: 100%;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.slick-dots button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #005BBB;
  background: #ffffff;
  margin: 0 8px;
  font-size: 0;
}
.slick-dots .slick-active button {
  border: 1px solid #005BBB;
  background: #005BBB;
}

/* tablet */

@media only screen

and (max-width: 1199px) {
  .wrapper {
    padding: 0 60px;
  }
  .card-cover {
    display: block;
  }
  .card {
    margin: 0 0 28px;
  }
  .welcome {
    font-size: 24px;
    line-heigt: 34px;
  }
  .main-caption {
    font-size: 30px;
    line-heigt: 37px;
  }
  .gallery {
    margin: 0 -20px;
  }
  }


/* mobile */

@media only screen

and (max-width: 900px) {
  .wrapper {
    padding: 0 20px;
  }
  
  .welcome {
    font-size: 16px;
    line-heigt: 22px;
    padding-bottom: 48px;
  }
  .main-caption {
    font-size: 20px;
    line-heigt: 24px;
  }
  .card-cover {
    padding-bottom: 48px;
  }
  .card-text {
    font-size: 16px;
  }
  .card-year {
    margin: 0 0 5px;
    font-size: 24px;
    display: block;
  }
  .main-caption:after {
    max-width: unset;
    left: 0;
    margin: 0;
}
  .form-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    margin: 0;
  }
  .form {
    margin-bottom: 100px;
    display: block;
    position: relative;
    padding: 0 20px;
  }
  .form-input {
    width: 100%;
    height: 110px;
    text-align: center;
    
  }

}
@media (max-width: 1024px) {
    .wrapper {
      padding-top: 190px;
    }
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 48px 60px 0;
      z-index: 100;
    }
    .nav-list {
      display: none;
    }
    .icon {
      text-align: left;
      margin-bottom: 120px;
    }
    .btn-burger,
    .btn-close {
      display: block;
      position: absolute;
      top: 48px;
      right: 60px;
    }
    .btn-close {
      display: none;
    }
    .menu-open.header {
      background: #005BBB;
    }
    .menu-open .icon svg * {
      fill: #ffffff;
    }
    .menu-open .btn-burger {
      display: none;
    }
    .menu-open .btn-close {
      display: block;
    }
    .menu-open .nav-list {
      display: block;
      text-align: left;
      padding: 0 0 72px;
      margin: 0;
    }
    .menu-open .link {
      color: #ffffff;
      display: block;
      margin: 0 0 48px;
    }
  }

@media (max-width: 600px) {
  .wrapper {
    padding-top: 0;
  }
  .header {
    padding: 20px 20px 0;
  }
  .btn-burger {
      top: 20px;
      right: 20px;
  }
  .slick-slide {
   border: 0;
  }
  .slick-dots button {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    padding: 0;
  }
  .gallery {
    margin: 0 -20px 48px;
    padding-bottom: 0;
  }
  .slick-dots {
    margin: 24px 0 0 0;
  }
  .icon {
    display: none;
  }
  .btn-burger svg * {
    fill: #ffffff;
  }
  .menu-open .icon {
    display: block;
    margin-bottom: 48px;
  }
 
  .menu-open .icon svg {
      width: 54px;
      height: 47px;
    }

  .header.menu-open {
   padding: 20px 20px 0;
   min-height: 100vh;
   position: fixed;
  }
  .menu-open .btn-close {
      top: 20px;
      right: 20px;
  }
  .menu-open .btn-burger {
      top: 20px;
      right: 20px;
  }
}